div {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3F51B5;
  
    h1 {
        font-size: 40px;
        color: #FFFFFF;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
  }