<div mat-dialog-content class="modal-container">
    <div class="modal-header">
        <h1>Cadastrar Turma</h1>
        <button mat-button (click)="fecharModal()" class="fechar-botao">X</button>
    </div>
    <div class="modal-body">
        <p>
            <span class="label">Data de Início do Curso:</span>
            <input
                class="input-field"
                type="text" [(ngModel)]="dataInicio"
                name="dataInicio"
                mask="00/00/0000"
                placeholder="00/00/0000"
                required>
        </p>
        <p>
            <span class="label">Data do Fim do Curso:</span>
            <input
                class="input-field"
                type="text" [(ngModel)]="dataFim"
                name="dataFim"
                mask="00/00/0000"
                placeholder="00/00/0000"
                required>
        </p>
        <p>
            <span class="label">Hora do Curso:</span>
            <input
                class="input-field"
                type="text" [(ngModel)]="hora"
                name="hora"
                mask="00:00:00"
                placeholder="HH:MM:SS"
                required>
        </p>
        <p>
            <span class="label">Número Máximo de Alunos:</span>
            <input
                class="input-field"
                type="number" [(ngModel)]="numeroMaximoAlunos"
                name="numeroMaximoAlunos"
                required>
        </p>
        <button mat-raised-button color="primary" (click)="onCadastroSucesso()">Cadastrar</button>
    </div>
</div>