<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevOvqNfXOdJoUnaPS_H7u6uEcsKK2t8GSwfi4F-3_9ORRa9g/viewform" width="1100" height="1360" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe> -->
<mat-card>
  <mat-card-content>
    <mat-card-title>03 - Informações Profissionais/Sociais</mat-card-title>    
    <div>
      <div>
        <label>Pessoa com Deficiência:</label>
        <p>
          <input type="radio" id="deficiencia1" name="deficiencia" [(ngModel)]="deficiencia" [value]="true">
          <label for="deficiencia1">Sim</label>
        </p>
        <p>
          <input type="radio" id="deficiencia2" name="deficiencia" [(ngModel)]="deficiencia" [value]="false">
          <label for="deficiencia2">Não</label>
        </p>
        <p>Tipo de Deficiencia: 
          @if (deficiencia) {
            <input type="text"
              name="tipoDeficiencia"
              required>
          }
        </p>
      </div>
      <div>
        <label>Escolaridade</label>
        <p>
          <input type="radio" id="alfabetizado1" name="alfabetizado" [(ngModel)]="alfabetizado" [value]="true" (ngModelChange)="onAlfabetizadoChange(true)">
          <label for="alfabetizado1">Sim</label>
        </p>
        <p>
          <input type="radio" id="alfabetizado2" name="alfabetizado" [(ngModel)]="alfabetizado" [value]="false" (ngModelChange)="onAlfabetizadoChange(false)">
          <label for="alfabetizado2">Não</label>
        </p>
        <label>Fundamental Comp:</label>
        <p>
          <input type="radio" id="fundamentalComp1" name="fundamentalComp" [(ngModel)]="fundamentalComp" [value]="true" (ngModelChange)="onFundamentalCompChange(true)">
          <label for="fundamentalComp1">Sim</label>
        </p>
        <p>
          <input type="radio" id="fundamentalComp2" name="fundamentalComp" [(ngModel)]="fundamentalComp" [value]="false" (ngModelChange)="onFundamentalCompChange(false)">
          <label for="fundamentalComp2">Não</label>
        </p>
        <label>Medio Comp:</label>
        <p>
          <input type="radio" id="medioComp1" name="medioComp" [(ngModel)]="medioComp" [value]="true" (ngModelChange)="onMedioCompChange(true)">
          <label for="medioComp1">Sim</label>
        </p>
        <p>
          <input type="radio" id="medioComp2" name="medioComp" [(ngModel)]="medioComp" [value]="false" (ngModelChange)="onMedioCompChange(false)">
          <label for="medioComp2">Não</label>
        </p>
        <p>Outros:
          <input type="text" name="outroEscolaridade" [(ngModel)]="outroEscolaridade" [disabled]="isOutroEscolaridadeDisabled">
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>