<mat-card>
  <mat-card-header>
    <mat-card-title>Candidatos</mat-card-title>
    <mat-card-subtitle>...</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h2>Visualizar Candidatos</h2>
    @if(dataCandidatos.length === 0){
      <p>Sem candidatos cadastrados!</p>
    }@else {
      <ol>
        @for(item of dataCandidatos; track $index) {
          <li>Nome: {{item.nome}}, CPF: {{item.cpf}}</li>
        }
      </ol>
    }
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>