<app-menu></app-menu>
<div class="divPrincipal" *ngIf="content">
    <h1>Tela Administração</h1>
    <h3>{{ content.subtitle }}</h3>

    <div *ngFor="let section of content.sections; let i = index" class="divSegundaria">
        <h3>{{ section.heading }}</h3>
        <div class="section">
            <p>{{ section.text }}</p>
            <img [src]="section.image" [alt]="section.heading" class="section-image" [class.align-right]="i % 2 === 0" [class.align-left]="i % 2 !== 0">
        </div>
    </div>

    <button class="button-container" mat-raised-button color="primary" (click)="openCourses()">
        Abrir Formulario de cadastro
    </button>
</div>