mat-card {
    box-shadow: none;
    border: none;
}
/* Estilizar o mat-card-title */
mat-card-title {
    background-color: #f0f0f0;
    color: #000;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 2px solid #000000;
}

.cssDivDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
    border-bottom: 2px solid #000000;
    p: {
        display: flex;
        align-items: center;
        input: {
            flex: 1;
            margin-left: 5px;
        }
    }
}