<mat-card>
    <mat-card-header>
      <h1>Cadastro</h1>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Formulario de Inscrição</mat-card-title>
        <div>
          <div class="cssDivDiv">
            <label for="opcoes">Selecione um curso:</label>
            <select id="opcoes" name="opcoes" (change)="onCursoChange($event)">
              <option value="" disabled selected>Selecione um curso</option>
              <option *ngFor="let item of dataCurso" [value]="item.id">{{ item.nome }}</option>
            </select>
          </div>
          @if(cursoSelecionado > 0){
            <div class="cssDivDiv">
              <p>
                Local de Inscrição: Escola Municiapal da Prefeitura de BH
              </p>
            </div>
          }
        </div>
    </mat-card-content>
</mat-card>