<mat-card>
    <mat-card-content>
      <mat-card-title>02 - Seleção do Curso e Turma</mat-card-title>
        <div>
          <div>
            <label for="opcoes">Selecione um curso:</label>
            <select id="opcoes" name="opcoes" (change)="onCursoChange($event)">
              <option value="" disabled selected>Selecione um curso</option>
              <option *ngFor="let item of dataCurso" [value]="item.id">{{ item.nome }}</option>
            </select>
          </div>
        </div>
    </mat-card-content>
</mat-card>