div {
    background-color: #F5F5F5;
    text-align: center;
    height: 50px;
  
    h1 {
        color: #3F51B5;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
}  