<mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Curso</mat-card-title>
      <form (ngSubmit)="handleCadastro()">
        <div>
        <div><p>Local de Inscrição: @if(cursoSelecionado > 0){ Escola Municiapal da Prefeitura de BH }</p></div>
          <label for="opcoes">Selecione um curso:</label>
          <select id="opcoes" name="opcoes" (change)="onCursoChange($event)">
            <option value="" disabled selected>Selecione um curso</option>
            <option *ngFor="let item of dataCurso" [value]="item.id">{{ item.nome }}</option>
          </select>
          <label for="turmas">Escolha a data de início:</label>
          <select id="turmas" name="turmas" (change)="onTurmaChange($event)">
            <option value="" disabled selected>Selecione a turma</option>
            <option *ngFor="let turma of dataTurma" [value]="turma.dataInicio">{{ turma.dataInicio }}</option>
          </select>
          <div>
            <div>
              <p>Local do Curso: @if(turmaSelecionada){ Rua Centro sul da capital, N° 200, Centro, Belo Horizonte, MG }</p>
              <p>Inicio: @if(turmaSelecionada){ {{ turmaSelecionada.dataInicio }} }</p>
              <p>Termino: @if(turmaSelecionada){ {{ turmaSelecionada.dataFim }} }</p>
            </div>
            <div>
              <p>Horario: @if(turmaSelecionada){ {{ turmaSelecionada.hora }} }</p>
              <p>Secretaria: @if(turmaSelecionada){ ?? }</p>
            </div>
          </div>
        </div>

        <mat-card-title>Dados do Candidato</mat-card-title>
        <input type="text" [(ngModel)]="nome"
          name="nome"
          placeholder="Digite seu nome"
          required
        >
        <input type="text" [(ngModel)]="cpf"
          name="cpf"
          placeholder="Digite o seu cpf"
          required
        >
        <input type="text" [(ngModel)]="nome"
          name="cep"
          placeholder="Digite seu CEP"
          required
        >
        <input type="text" [(ngModel)]="cpf"
          name="email"
          placeholder="Digite o email"
          required
        >
        <input type="text" [(ngModel)]="nome"
          name="telefone"
          placeholder="celular"
          required
        >
        <input type="text" [(ngModel)]="cpf"
          name="data nascimento"
          placeholder="data nascimento"
          required
        >
      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </form>
    </mat-card-content>
</mat-card>