<mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="handleCadastro()">

        <mat-card-title>Curso</mat-card-title>
        <label for="opcoes">Escolha uma opção:</label>
        <select id="opcoes" name="opcoes" (change)="onCursoChange($event)">
          <option value="" disabled selected>Selecione uma opção</option>
          <option *ngFor="let item of dataCurso" [value]="item.id">{{ item.nome }}</option>
        </select>

        <mat-card-title>Turmas</mat-card-title>
        <label for="turmas">Escolha uma data de início:</label>
        <select id="turmas" name="turmas" (change)="onTurmaChange($event)">
          <option value="" disabled selected>Selecione uma turma</option>
          <option *ngFor="let turma of dataTurma" [value]="turma.dataInicio">{{ turma.dataInicio }}</option>
        </select>

        <div *ngIf="turmaSelecionada">
          <mat-card-content>
            <p>Data de Início: {{ turmaSelecionada.dataInicio }}</p>
            <p>Data de Fim: {{ turmaSelecionada.dataFim }}</p>
            <p>Hora: {{ turmaSelecionada.hora }}</p>
          </mat-card-content>
        </div>

        <mat-card-title>Dados do Candidato</mat-card-title>
        <input type="text" [(ngModel)]="nome"
          name="nome"
          placeholder="Digite seu nome"
          required
        >
        <input type="text" [(ngModel)]="cpf"
          name="cpf"
          placeholder="Digite o seu cpf"
          required
        >
        <input type="text" [(ngModel)]="nome"
          name="cep"
          placeholder="Digite seu CEP"
          required
        >
        <input type="text" [(ngModel)]="cpf"
          name="email"
          placeholder="Digite o email"
          required
        >
        <input type="text" [(ngModel)]="nome"
          name="telefone"
          placeholder="celular"
          required
        >
        <input type="text" [(ngModel)]="cpf"
          name="data nascimento"
          placeholder="data nascimento"
          required
        >
      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </form>
    </mat-card-content>
</mat-card>