$color-blue-light: #3a8ae6;
$color-dark: #000000;
$color-white: #f0f0f0;
/* Remover bordas e sombra do mat-card */
mat-card {
    box-shadow: none;
    border: none;
}
/* Estilizar o mat-card-title */
mat-card-title {
    background-color: $color-white;
    color: $color-dark;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 2px solid $color-dark;
}

.cssDivDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
    border-bottom: 2px solid $color-dark;
    p: {
        display: flex;
        align-items: center;
        input: {
            flex: 1;
            margin-left: 5px;
        }
    }
}

#div1{
    p: {
        input: {
            min-width: 120px;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}

.cssSpanObg{
    color: red;
}

// Estilo para o botão
button {
    margin-top: 15px;
    background-color: $color-blue-light;
    color: $color-white;
    font-size: 1em;
    padding: 5px 10px;
    &:hover {
      background-color: darken($color-blue-light, 10%);
    }
  }