mat-card {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    mat-card-header {
      background-color: #3f51b5;
      color: #fff;
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }
  
    mat-card-content {
      padding: 10px;
  
      form {
        input {
          width: 100%;
          margin-bottom: 10px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
  
        button {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
  
      p {
        margin-bottom: 10px;
      }
  
      button.mat-button {
        background-color: #3f51b5;
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }